<% if @question.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @question.errors.count %>箇所の入力誤りが発生しています
    </div>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>