<% provide(:title, '質問一覧 | ') %>

<h3>質問一覧</h3>


  <%= will_paginate @search_questions %>
  <ul class="questions">
    <%= render @search_questions %>
  </ul>
  <%= will_paginate @search_questions %>
