<h1>アカウント有効化</h1>

<p><%= @user.name %>様</p>

<p>
育児Q&Aに登録するには、以下のリンクをクリックしてアカウントを有効化してください。:
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>