<li>
  <%  if user.avatar.attached? %>
    <%= image_tag display_avatar(user.avatar), size: 50, class: 'user-image' %>
  <% else %>
    <%= image_tag 'user_avatar.png', size: 50 %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "削除しますか？" } %>
  <% end %>
</li>