<% provide(:title, "プロフィール更新 | ") %>
<h1>プロフィール更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%  if @user.avatar.attached? %>
      <%= image_tag display_avatar(@user.avatar), class: 'user-image' %>
      <br>
      <%= link_to "削除", @user.avatar.purge %>
    <% end %>
    <%= render 'form', btn_name: "プロフィール更新" %>
  </div>
</div>