@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$light-gray: #fff;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
  font-family: Amatic SC;
  background-color: #fef6e4;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.container {
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* header */

header{
  background-color: #001858;
  display: table;
  width: 100%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $light-gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  &:hover {
  color: $light-gray;
  text-decoration: none;
  }
}

.search-form{
  display: table-cell;
  vertical-align: middle;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
  }
 input[type="text"]:focus {
  outline: 0;
  }
 input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #f2f4f7;
  outline : none;
  display: inline-block;
  vertical-align: middle;
  }
}

.navbar-right{
  position:absolute;
  height: 60px;
  right:100px
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* nonlogin home */
.non-login{
  background: image-url('house.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.login {
  width: 550px;
  height: 500px;
  float: right;
  margin-top : 200px;
  margin-right: 50px;
  position : relative;
  background: -webkit-repeating-linear-gradient(-45deg, #f4f9ff, #f4f9ff 3px, #eaf4ff 3px, #eaf4ff 6px);/*ストライプ*/
  background: repeating-linear-gradient(-45deg, #f4f9ff, #f4f9ff 3px, #eaf4ff 3px, #eaf4ff 6px);/*ストライプ*/
  color: #000000;/*文字色*/
  .home-logo {
    margin : 0 auto
  }
  h1{
    float: left;
    padding-left: 50px;
  }
}

.question-index{
  display: block;
  padding-top: 900px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 100px;
      font-weight: 700;
    }
  }
}

.gravatar, .user-image {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.image_explanation{
  font-weight: 600;
}

.password_explanation{
  color: #bbb;
}

.btn-square-slant {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background:#f582ae;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #57032d;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.btn-square-slant:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.btn-square-slant:active:after, .btn-square-slant:active:before {
  content: none;/*ボタンを押すと線が消える*/
}

.btn-guest-login {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #0F0;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.btn-guest-login:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-guest-login:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-guest-login:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.btn-guest-login:active:after, .btn-guest-login:active:before {
  content: none;/*ボタンを押すと線が消える*/
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* Questions index */

.card{
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
}

.card-title{
  font-size: large;
  font-weight: 900;
}



ul {
  list-style: none;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*ページネーション*/
/*ページネーション自体のデザイン*/
.pagenation{

}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/*ユーザープロフィール*/
.card-user{
  width: 200px;
  height: 200px;
  padding: 0.2em 0.5em;
  margin: 5px;
  color: #565656;
  background: #fef6e4;
  box-shadow: 0px 0px 0px 10px #fef6e4;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}