<header class="navbar navbar-fixed-top navbar-light" >
  <div class="container">
  <%= link_to image_tag("logo.png", alt: "logo", height: "100px", id: "logo"),
                      root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ユーザー登録",  signup_path, class:"fas fa-sign-in-alt" %></li>
        <li><%= link_to "ログイン", login_path, class:"fas fa-key" %></li>
      </ul>
    </nav>
  </div>
</header>